<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AutoOccupation_V1.5</title>
    <script src="/js/vue.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/aaxios.js"></script>
    <script src=""></script>
</head>
<body>
<div  style="margin: 30px"  id="app">
    <div class="col-md-8">
        <table class="table table-hover">
            <tr class="info">
                <th>#</th>
                <th>姓名</th>
                <th>ID</th>
                <th>选中座位</th>
                <th>是否开启</th>
            </tr>
            <tr :class="{danger:!user.enable,info:user.enable && user.seatNum}" v-for="(user,index) in users">
                <td>{{index + 1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.sqid.substring(0,5) + '...'}}</td>
                <td>
                    <input
                            v-model:value="user.seatNum"
                            @dblclick="setSeat(user)"
                            placeholder="未选择" type="text" class="input" required="">
                </td>
                <td>
                    <label class="rocker rocker-small">
                        <input type="checkbox" @change="enableChange(user)" v-model:checked="user.enable">
                        <span class="switch-left">Yes</span>
                        <span class="switch-right">No</span>
                    </label>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
        <dl>
            <dt>消息</dt>
            <dd  v-for="(msg,index) in message">
                {{index+ "." + msg}}}
            </dd>
        </dl>
    </div>
</div>

</body>

<script>
    var app = new Vue({
            el: '#app',
        data: {
            users: [],
            message:[]
        },
        methods: {
            setSeat: function (user) {
                axios({
                    method: 'post',
                    url: '/setSeatId',
                    data: user
                }).then(res => {
                    // _this.users = res.data.data
                    if (res.data.code == 200) {
                        // _this.users = res.data.data
                        this.users = res.data.data
                    }
                    this.message.unshift(res.data.msg)
                    if (this.message.length > 20) {
                        this.message.remove()
                    }
                });
            },
            enableChange:function (user) {
                axios({
                    method: 'post',
                    url: '/changeEnable',
                    data: user
                }).then(res => {
                    // _this.users = res.data.data
                    if (res.data.code == 200) {
                        this.users = res.data.data
                    }
                    this.message.unshift(res.data.msg)
                });
            }
        },
        created: function () {
            const _this = this
            axios({
                method: 'get',
                url: '/admin',
            }).then(res => {
                _this.users = res.data.data
            });
        }
    })
</script>
</html>
